<div class="row">
    <div class="col-xs-12">
        <div class="text-block">
            <h2>Sign up for our newsletter?</h2>
            <p>Would you like to get a newsletter about any updates regarding studio Ghbibbli? Then sign up for out monthly newsletter!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <div class="text-block">
            <div class="flex-end">
                <button class="btn btn-primary" (click)="changeVersion()">
                    Or try the {{v1 ?  "2.0" : "1.0"}} version!
                </button>
            </div> 
            <form-v1 *ngIf="v1"></form-v1>
            <form-v2 *ngIf="!v1"></form-v2>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-block">
            <h3>Privacy policy</h3>
            <p>By signing up for out newsletter you agree to our privacy policy: we don't care, bring those fines our way because your data isn't safe here at all.
                The highest bidder gets access to everything.
                If you're interested in our data please send an email to <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">I'm@joking.com</a>.
            </p>
        </div>
        <div class="text-block">
            <p>Also don't worry about pressing submit, it will not actually send an email.</p>
        </div>
    </div>
</div>
