<div class="row">
    <div class="col-xs-12">
        <div class="text-block">
            <h2>Sign up for our newsletter?</h2>
            <p>Would you like to get a newsletter about any updates regarding studio Ghbibbli? Then sign up for out monthly newsletter!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <div class="text-block">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="userInfo" ngModelGroup="userInfo">
                    <div class="form-group">
                        <label>Name *</label>
                        <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
                        <span *ngIf="name.invalid && name.touched" class="validation-error">Please enter a name</span>
                    </div>
                    <div class="form-group">
                        <label>Pronouns</label>
                        <select id="pronouns"  class="form-control" ngModel #pronounsSelect="ngModel" name="pronouns">
                            <option *ngFor="let p of pronouns" [value]="p">{{p}}</option>
                        </select>
                        <span *ngIf="pronounsSelect.pristine">If you choose not to specify we will adress you as <i>{{defaultAdress}}</i></span>
                    </div>
                    <div *ngIf="pronounsSelect.dirty" class="form-group">
                        <label>How would you like to be adressed?</label>
                        <select id="adress" class="form-control" name="adress" [ngModel]="defaultAdress" #adress="ngModel">
                            <option value="Sir">Sir {{name.value}}</option>
                            <option value="Ms">Mrs {{name.value}}</option>
                            <option value="Mrs">Mrs {{name.value}}</option>
                            <option value="Miss">Miss {{name.value}}</option>
                            <option value="Dear">Dear {{name.value}}</option>
                            <option value="Dear fan">Dear fan</option>
                        </select>
                    </div>
                </div>
                <div id="contactInfo" ngModelGroup="contactInfo">
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
                        <span *ngIf="email.invalid && email.touched" class="validation-error">Please enter a valid email</span>
                    </div>
                </div>
                <hr>
                <div id="raffle">
                    <label>Enter our monthly raffle?</label>
                    <div class="radio">
                        <label>
                            <input name="raffle" type="radio" [value]="true" ngModel>
                            Yes
                        </label>
                        <label>
                            <input name="raffle" type="radio" [value]="false" ngModel>
                            No
                        </label>
                    </div> 
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Sign up</button>
            </form>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-block">
            <h3>Privacy policy</h3>
            <p>By signing up for out newsletter you agree to our privacy policy: we don't care, bring those fines our way because your data isn't safe here at all.
                The highest bidder gets access to everything.
                If you're interested in our data please send an email to <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">I'm@joking.com</a>.
            </p>
        </div>
        <div class="text-block">
            <p>Also don't worry about pressing submit, it will not actually send an email.</p>
        </div>
    </div>
</div>
