/* You can add global styles to this file, and also import other style files */
header {
    background-color: #4b71cb;
}

body {
    background-color: #8b9b34;
}

h1, h2, h3 {
    margin-top: 4px;
}

img {
    border-radius: 8px;
}

ul.no-bullets {
    list-style-type: none;
    padding-inline-start: 0;
}

.text-block {
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 16px 0;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.validation-error {
    color: red;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}